body {
  background-color: #600000;
  font-weight: bold;
  color: white;
}

#break-label {
  width: 35%;
}

#session-label {
  width: 35%;
}

#app {
  display: flex;
  background-color: black;
  width: 50vw;
  margin: auto;
  padding: 5px;
}